.greet {
  margin: 7%;
}
h3 {
  margin-top: 5%;
}
/* .hello-txt {

    color: #2835e5;
  text-shadow: 0 0 5px rgb(125, 240, 240), 0 0 15px rgb(125, 240, 240), 0 0 20px rgb(125, 240, 240), 0 0 40px rgb(125, 240, 240),
    0 0 60px #eeeeee, 0 0 10px teal, 0 0 98px #eeeeee; */
/* } */
